

:host(){
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.menu-item .icon {
  text-align:center;
  font-size: 30px;
}

.menu-item .text{
    text-align:center;
}

.menu-item .submenu {
    text-align:center;
}

.menu-item .in-popup {
    margin-left: 2px;
    margin-right: 2px;
    margin-top:0px;
    margin-bottom: 0px;
    padding: 10px;
    color: black;
    line-height: 15px;
    text-align: left;
   }

   /* .menu-item .in-popup {
   
 
  left: 100%;
  line-height: 15px;
    text-align: left;
  padding: 10px;
   } */
   

.menu-item .in-popup:hover {
    background-color: black;
    color: white;
}

.menu-item .submenuArrow {
    text-align: center;
    line-height: 1px;
}

span {
    pointer-events:none;
}

/* .router-link-active {
    background-color: #dfd;
} */
.wrap {
    position: relative;
    left: 75px;
    top:-5px;
  }
  