<div class="menu-item" [ngClass]="{'router-link-active':isActivateRoute()}">
  <div class="text" [ngClass]="{'submenu':item.submenu!=null}" *ngIf="!parentIsPopup">

    <!--old code with fontawesome  <span class="{{ item.icon}}"></span> -->
    <img width="20px" src= "{{item.icon}}">
    <span>{{item.text }}</span> 
  </div>
  <!-- Fleche vers le bas pour un sous-menu -->
  <!-- <div *ngIf="item.submenu!=null && !parentIsPopup" class="submenuArrow">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div> -->
  <div *ngIf="parentIsPopup" class="in-popup" [ngClass]="{'submenu':item.submenu!=null}">
    <span  class="{{ item.icon}}"></span>
    <span>{{item.text }}</span>
    <span *ngIf="item.submenu!=null" class="submenuArrow">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </span>
  </div>
</div>

<div class="wrap">
  <fw-popup-menu *ngIf="(mouseInPopup || mouseInItem)" [menu]="item.submenu" [ngClass]="{'vertical-menu': menuService.isVertical,'horizontal-menu':!menuService.isVertical }"
    (mouseleave)="onPopupMouseLeave($event)" (mouseenter)="onPopupMouseEnter($event)" [style.left.px]="popupLeft" [style.top.px]="popupTop">
  </fw-popup-menu>
</div>

<!-- <div class="wrap">
<fw-popup-menu *ngIf="(mouseInPopup || mouseInItem)" [menu]="item.submenu" 
[ngClass]="{'vertical-menu': menuService.isVertical,'horizontal-menu':!menuService.isVertical }"
  (mouseleave)="onPopupMouseLeave($event)" (mouseenter)="onPopupMouseEnter($event)"
  [style.top.px]="popupTop" [style.left.px]="popupLeft" >
</fw-popup-menu>
</div> -->