:host{
    flex-grow: 1;
    font-size: 13px;
} 

ul {
     list-style-type: none;
    display: flex;
    height: 40px;
    margin: 0px;
    line-height: 40px;
    text-align:center;
    padding: 0;
    margin:0;   
}



li:hover {
    background-color:aliceblue;  
    border-right-color :aliceblue;  
    border-left-color :aliceblue;  
}

li {
    margin: 0px;
    padding: 0px;
    background-color:white;
    color:black;
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
    align-content: stretch;
    
}


.small-image-holder {
   
    flex-basis: 0;
 }
 .iconspot {
    height: 40px;   
    width:40px;
    flex-basis: 0;
}


